*{
    padding: 0px;
    margin: 0px;
    font-family: 'Barlow', sans-serif;
    font-family: 'Gabarito', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:rgb(244, 238, 244) ;
    overflow: auto;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    
}
.title{
    color: rgb(216, 187, 216);
    font-size: 10rem;
    font-weight: 700;
    margin: 100px 0px;

}
input{
    width: 22.5rem;
    height: 3rem;
    font-size: 1.5rem;
    padding: 0.25rem 1.5rem;
    color:rgb(58, 58, 58);
    border-color: transparent;
    border-radius: 4px;
    outline-color: transparent;
    box-shadow: 1px 1px 15px rgb(176, 175, 175);
    z-index: 2;
}
input::placeholder{
    color: grey;
}
input:focus{
    outline: 3px solid rgb(187, 127, 187);
}

.tasks{
    margin-bottom: 30px;
}
.desc{
    font-size: 0.8rem;
    text-align: center;
    color: rgb(157, 155, 155);
    margin: 50px;
}
.tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
   
}
.task{
    width: 22.75rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0.25rem 1.5rem;
    vertical-align: middle;
    color:rgb(58, 58, 58);
    border-radius: 4px;
    background-color: white;
    margin-top: 1px;
    
}
.comp{
    text-decoration: line-through;
    color: rgb(155, 154, 154);
}